<a href="https://colab.research.google.com/github/Venkat458/assignments/blob/main/assignment3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1..1 Write a Python Program to implement your own myreduce() function which works exactly
like Python's built-in function reduce()

In [ ]:
z=[1,2,3,4,5,6,7,8,9,10,11]

def reduce1(in1,in2):
     value1_1st = in2[0]
     xy = in1
     for i in range(1,len(in2)):
       value2_2nd=in2[i]
       value1_1st=xy(value1_1st,value2_2nd)
       print(value1_1st)
     return value1_1st
reduce1(lambda x,y:x+y,z)

3
6
10
15
21
28
36
45
55
66

66

1..2 Write a Python program to implement your own myfilter() function which works exactly
like Python's built-in function filter()

In [ ]:
list1=[1,2,3,4,5,6,7,8,9,10,11]
def myfilter(var1,var2):
    result=[]
    for iy in var2:
        z=var1(iy)
        if z==True:
            result.append(iy)
    return result

myfilter(lambda x:x%2==0,list1)

[2, 4, 6, 8, 10]

2. Implement List comprehensions to produce the following lists.
Write List comprehensions to produce the following Lists
['A', 'C', 'A', 'D', 'G', 'I', ’L’, ‘ D’]
['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']
['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']
[[2], [3], [4], [3], [4], [5], [4], [5], [6]] [[2, 3, 4, 5], [3, 4, 5, 6],
[4, 5, 6, 7], [5, 6, 7, 8]]
[(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]

In [ ]:
[i for i in "ACADGILD"]

['A', 'C', 'A', 'D', 'G', 'I', 'L', 'D']

In [ ]:
[i*j for i in "xyz" for j in range(1,5)]

['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']

In [ ]:
[i*j for j in range(1,5) for i in "xyz"]

['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']

In [ ]:
[[i+j] for j in range(2,5) for i in range(3) ]

[[2], [3], [4], [3], [4], [5], [4], [5], [6]]

In [ ]:
[[j+i  for j in range(2,6)] for i in range(0,4)]

[[2, 3, 4, 5], [3, 4, 5, 6], [4, 5, 6, 7], [5, 6, 7, 8]]

In [ ]:
[(i,j) for i in range(1,4) for j in range(1,4)]

[(1, 1), (1, 2), (1, 3), (2, 1), (2, 2), (2, 3), (3, 1), (3, 2), (3, 3)]